.book-container{
width:100%;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#f2f2f2;
}

.page{
background:white;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
}

.left-page img{
width:100%;
height:100%;
object-fit:cover;
border-radius:10px;
}

.right-page{
display:flex;
justify-content:center;
align-items:center;
font-size:28px;
font-family:"Comic Sans MS", cursive;
text-align:center;
color:#333;
padding:40px;
}